/*--------------------------------------------------------------------------------------------------------------------*/

@import url("bootstrap-icons/font/bootstrap-icons.css");

@import url("bootstrap/dist/css/bootstrap.css");

/*--------------------------------------------------------------------------------------------------------------------*/

:root {

    --bs-border-radius: 0.75rem;
    --bs-border-radius-sm: 0.75rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

html, body,
#nyx_assistant {

    background-color: transparent;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

/*--------------------------------------------------------------------------------------------------------------------*/

body[data-environment="tauri"][data-maximized="false"] > #nyx_assistant {

    border: 1px var(--bs-secondary-border-subtle) solid;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

/*--------------------------------------------------------------------------------------------------------------------*/

input:invalid {

    background-color: var(--bs-danger-bg-subtle);
}

/*--------------------------------------------------------------------------------------------------------------------*/

.form-label {

    margin-bottom: 0.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.btn.btn-xs {

    line-height: 0.8;
    font-size: 0.875rem;
    padding: 0.25rem 0.4rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/
